{% extends "theme_base.html" %}
{% load staticfiles %}
{% load url from future %}


{% block extra_style %}
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400' rel='stylesheet' type='text/css'>
<link href='/site_media/static/css/base.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="/site_media/static/js/fittext.js"></script>

<script type="text/javascript">
$("h1.intro").fitText(1);
</script>
{% endblock %}

{% block head_title_base %}{% block head_title %}{% endblock %}Starcraft II Tournament{% endblock %}

        {% block topbar_base %}
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        {% block topbar %}
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            {% block site_brand %}<a class="brand" href="/">PyCon 2012 Starcraft II Tournament</a>{% endblock %}
                            <div class="nav-collapse">
                                {% block nav %}
                                        <ul class="nav">
                                            <li><a href="/t/pycon-2012/">Bracket</a></li>
                                            <li><a href="/sc2/match/">Latest Matches</a></li>
                                            <li><a href="/accounts/">Players</a></li>
                                            <li><a href="/about/">About</a></li>
                                            {% if not request.user.is_authenticated %}
                                                <li><a href="/accounts/register/">Register</a></li>
                                            {% else %}
                                                <li><a href="/accounts/logout/">Logout</a></li>
                                            {% endif %}
                                        </ul>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}


{% block body_base %}
    <div class="container">
        <!--
        <div class="row">
            <div class="span12">
            {% include "_messages.html" %}
            </div>
        </div>
        -->
        <div class="row main_container">
            {% block body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


{% block footer %}
    &copy; 2010-{% now "Y" %} <a href="https://github.com/issackelly/">Issac Kelly</a>, <a href="https://github.com/toastdriven/">Daniel Lindsley, and <a href="https://github.com/mintchaos/">Christian Metts. <br>
    All StarCraft II related imagery property of Blizzard Entertainment.<br>
    <a href="{% url 'home' %}">Home</a>
{% endblock %}
